header {
    background-image: url(../images/pexels-matheus-bertelli-573293.jpg);
    background-size: cover;
    background-position: top;
    height: 94.1vh;
}

#serviceheader {
    background-image: url(../images/backgrounds/services-bg.jpg);
}

.bg-purple {
    background-color: purple;
}

.nav-link {
    color: #ffe602 !important;
}

.nav-link:hover {
    color: #ffe602c7 !important;
}

.navbar-brand {
    color: #ffe602 !important;
}

footer a {
    color: #ffffff !important;
}

footer a:hover {
    color: #ffe602 !important;
}